<ion-view title="Camera" ng-controller="CameraCtrl as vm">
    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <button class="button  button-balanced" ng-click="vm.takePicture()">Take Picture</button>
            </div>
            <div class="col">
                <button class="button  button-balanced" ng-click="vm.selectPicture()">Select Picture</button>
            </div>
        </div>

        <div class="card">
            <div class="item item-image">
                <img ng-src="{{vm.imgSrc}}" />
            </div>
            <div class="item">
                Canvas below:
            </div>
            <div class="item">
                <canvas id="xpicCanvas" style="width: 120px; height: 120px"></canvas>
            </div>
        </div>

        <div>
            <canvas id="picCanvas" style="width: 300px; height: 300px; border: double"></canvas>
        </div>
    </ion-content>
</ion-view>